body {
  background-color: whitesmoke;
}
#header {
  border-bottom: 1px green solid;
  text-align: center;
  text-decoration: line-through;
  text-shadow: 1px solid red;
  color: rgb(206, 205, 205);
  text-transform: uppercase;
  font-style: italic;
  font-size: xx-small;
  padding-bottom: 10px;
}

/* css for main */

#mainBody {
  width: 80%;
  margin: auto;
  text-align: center;
}
#display {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
/* actionButtons */
#actionButtons {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

#displayButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#displayButton:hover {
  background-color: #45a049;
}

#actionButtons input[type="search"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

#actionButtons input[type="search"]:focus {
  border-color: #4caf50;
}
#searchContainer button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #aec6af;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* end */
/* img of cat  */
img {
  width: 300px;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
p {
  background-color: rgb(243, 241, 238);
  box-shadow: #45a049;
  padding: 10px;
  font-size: large;
  text-shadow: #fc0 1px 0 10px;
}
/* movies Display */
#moviesDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.movie-poster {
  flex: 1 1 200px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.movie-poster img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#movieDetail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  z-index: 1000;
}
#movieDetail img {
  max-width: 80%;
}
#closeDetail {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}
/* / */
#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #afa8a8;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
